-# encoding: utf-8
.row
  .span6.offset3
    %h3 #{@pay.recipient}希望您支付#{"%.2f" % @pay.pay_amount}元
.row
  .span6.offset3
    - form_tag '/pay/', :class => 'form-horizontal', :method => "post" do
      %input{:type => "hidden", :name => "payment_token", :value => @payment_token}
      %input{:type => "hidden", :name => "success_callback", :value => @success_callback}
      %input{:type => "hidden", :name => "failure_callback", :value => @failure_callback}
      %legend
      .control-group
        %label.control-label{:for => "inputPayPass"} 请输入支付密码
        .controls
          %input#inputPayPass{:placeholder => "Payment Password", :type => "password"}/
      %legend
      .control-group
        .controls
          %button.btn.btn-primary{:type => "submit"} 确认支付
