-# encoding: utf-8

.row
  .span6.offset3
    %h3 账户充值
.row
  .span6.offset3
    - if @error
      .alert
        %button.close{:type => "button", "data-dismiss".to_s => "alert"}
          &times;
        = @error
    .tabbable
      %ul#forgetpass.nav.nav-tabs
        %li.active
          %a{:href => "#viaprepaidcard"} 充值卡
        %li
          %a{:href => "#viacreditcard"} 信用卡
        %li
          %a{:href => "#viabankcard"} 银行卡
      .tab-content
        #viaprepaidcard.tab-pane.active
          - form_tag '/user/ppcard_deposit/', :class => 'form-horizontal', :method => "post" do
            %fieldset
              .control-group
                %label.control-label{:for => "inputPrepaidCardNum"} 充值卡号
                .controls
                  %input#inputPrepaidCardNum{:placeholder => "Prepaid Card Number", :type => "password", :name => "ppc_id"}/
              .control-group
                %label.control-label{:for => "inputPrepaidCardPass"} 充值卡密码
                .controls
                  %input#inputPrepaidCardPass{:placeholder => "Prepaid Card Password", :type => "password", :name => "ppc_pass"}/
              .control-group
                .controls
                  %button.btn.btn-primary{:type => "submit"} 确认充值
        #viacreditcard.tab-pane
        #viacbankcard.tab-pane
      #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3#myModalLabel 回答安全问题
        %form
          .modal-body
            %label 安全问题...?
            %input{:name => "secAnswer", :placeholder => "Answer", :type => "text"}/
          .modal-footer
            %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} 取消
            %button.btn.btn-primary{:type => "submit"} 提交
      :javascript
        // $('#myModal').modal({"show": true})
        // 注意设置激活的tab
      :javascript
        $('#forgetpass a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })

