-# encoding: utf-8
.row
  .span6.offset3
    %h3 编辑资料
.row
  .span6.offset3
    %form.form-horizontal
      %legend 登录信息
      .control-group
        %label.control-label{:for => "inputPassword"} 登录密码
        .controls
          %input#inputPassword{:placeholder => "Login Password", :type => "password"}/
      .control-group
        %label.control-label{:for => "inputPasswordRepeat"} 重复登录密码
        .controls
          %input#inputPasswordRepeat{:placeholder => "Repeat Login Password", :type => "password"}/
      .control-group
        %label.control-label{:for => "inputEmail"} 电子邮箱
        .controls
          %input#inputEmail{:placeholder => "Email", :type => "text"}/
      %legend 账户安全
      .control-group
        %label.control-label{:for => "inputBindPhone"} 绑定手机
        .controls
          %input#inputBindPhone{:placeholder => "BindPhone", :type => "text"}/
      .control-group
        %label.control-label{:for => "inputSecQuestion"} 安全问题
        .controls
          %input#inputSecQuestion{:placeholder => "Security Question", :type => "text"}/
      .control-group
        %label.control-label{:for => "inputSecAnswer"} 安全问题答案
        .controls
          %input#inputSecAnswer{:placeholder => "Security Question Answer", :type => "text"}/
      %legend
      .control-group
        .controls
          %button.btn.btn-primary{:type => "submit"} 确认修改
