-# encoding: utf-8

.row
  .span6.offset3
    %h3 登录
.row
  .span6.offset3
    - if @error
      .alert
        %button.close{:type => "button", "data-dismiss".to_s => "alert"}
          &times;
        = @error
    - form_tag '/user/login/', :class => 'form-horizontal', :method => "post" do
      %input{:type => "hidden", :name => "token", :value => @token_key}
      %input{:type => "hidden", :name => "redirect", :value => @redirect_url}
      .control-group
        %label.control-label{:for => "inputName"} 用户名或邮箱
        .controls
          %input#inputName{:placeholder => "Username or Email", :type => "text", :name => "login_id"}/
      .control-group
        %label.control-label{:for => "inputPassword"} 登录密码
        .controls
          %input#inputPassword{:placeholder => "Login Password", :type => "password", :name => "login_pass"}/
      .form-actions
        %button.btn.btn-primary{:type => "submit"} 登录
