-# encoding: utf-8
.row
  .span6.offset3
    %h3 重置支付密码
.row
  .span6.offset3
    %form.form-horizontal{:action => "", :method => "post"}
      %legend
      .control-group
        %label.control-label{:for => "inputPassword"} 重设支付密码
        .controls
          %input#inputPassword{:placeholder => "New Login Password", :type => "password", :name => "newloginpass"}/
      .control-group
        %label.control-label{:for => "inputPasswordRepeat"} 重复新密码
        .controls
          %input#inputPasswordRepeat{:placeholder => "Repeat Login Password", :type => "password", :name => "repnewloginpass"}/
      %legend
      .control-group
        .controls
          %button.btn.btn-primary{:type => "submit"} 确认新密码
